@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h4>Vision</h4>
<p>Use this area to provide additional information.</p>
<h4>Goals</h4>
<p>Use this area to provide additional information.</p>
<h4>Join us!</h4>
<p>Use this area to provide additional information.</p>
