@{
    ViewData["Title"] = "About";
}
<!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/theme.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/lib/bootstrap/dist/css/jumbotron-narrow.css" rel="stylesheet">

<div class="jumbotron">
        <h1>@ViewData["Message"]</h1>
        <p class="lead">This is why we do what we do</p>
       </div>
       <style>
       h4 {
            text-shadow: 1px 1px 2px #000
	    }
        </style>
      <div class="row marketing" style="background-color: rgba(30, 130, 76, 0.8); border-radius:10px; padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px;">
      <h4 >Whats happnening?</h4>
        We want to create a better world by helping change the bad habits through veganism. We want to help the youths of today integrate more vegetables in their diets to improve their health. Moreover, we promote the importance of giving back to the community; such as help people in need, care for the environment and care for animals.

      </div>
