@{
    ViewData["Title"] = "About";
    Layout = "_LayoutEs";
}
<!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/theme.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/lib/bootstrap/dist/css/jumbotron-narrow.css" rel="stylesheet">

<div class="jumbotron">
        <h1>@ViewData["Message"]</h1>
        <p class="lead">Es por esto que hacemos lo que hacemos</p>
       </div>
       <style>
       h4 {
            text-shadow: 1px 1px 2px #000
	    }
        </style>
      <div class="row marketing" style="background-color: rgba(30, 130, 76, 0.8); border-radius:10px; padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px;">
      <h4 >¿Qué esta pasando?</h4>
        Queremos crear un mundo mejor ayudando a cambiar los malos hábitos a través del veganismo. Queremos ayudar a los jóvenes de hoy a integrar más vegetales en sus dietas para mejorar su salud. Además, promovemos la importancia de retribuir a la comunidad; como ayudar a personas necesitadas, cuidar el medioambiente y cuidar a los animales.
      </div>
