@{
    ViewData["Title"] = "About";
    Layout = "_LayoutEs";
}
<!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/theme.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/lib/bootstrap/dist/css/jumbotron-narrow.css" rel="stylesheet">

<div class="jumbotron">
        <h1>@ViewData["Message"]</h1>
        <p class="lead">Esto es lo que nos motiva a ser la mejor ONG que podemos ser</p>
       </div>
       <style>
       h4 {
            text-shadow: 1px 1px 2px #000
        }
        </style>
      <div class="row marketing" style="background-color: rgba(30, 130, 76, 0.8); border-radius:10px; padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px;">
       <h4> Metas: </h4>
         <ul>
         <li> Mejore la dieta de las personas fomentando la integración de vegetales a través del veganismo </ li>
         <li> Devolver a la comunidad ayudando a otros que lo necesitan </ li>
         <li> Disminuir el daño que hacemos al medio ambiente </ li>
         <li> Aprenda y ame nuestro mundo: nuestro medio ambiente y nuestros animales </ li>
</ul>
<h4> Objetivos a largo plazo: </h4>
         <ul>
         <li> Crea un santuario para todos los animales necesitados </ li>
         <li> Crea un hogar para las personas necesitadas </ li>
         <li> Crear programas voluntarios </ li>
         </ul>
      </div>
