@{
    ViewData["Title"] = "About";
}
<!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/theme.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/lib/bootstrap/dist/css/jumbotron-narrow.css" rel="stylesheet">

<div class="jumbotron">
        <h1>@ViewData["Message"]</h1>
        <p class="lead">This is what motivates us to be the best NGO we can be</p>
       </div>
       <style>
       h4 {
            text-shadow: 1px 1px 2px #000
        }
        </style>
      <div class="row marketing" style="background-color: rgba(30, 130, 76, 0.8); border-radius:10px; padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px;">
        <h4>Goals:</h4>
        <ul>
        <li>Improve the diet of people by encouraging the integration of vegetables through veganism</li>
        <li>Give back to the community by helping others in need</li>
        <li>Decrease the damage we make to the environment</li>
        <li>Learn about and love our world: our environment and animals </li>
	    </ul>
	    <h4>Long-Term goals:</h4>
        <ul>
        <li>Create a sanctuary for all animals in need</li>
        <li>Create a home for those people in need</li>
        <li>Create voluntary programs </li>
        </ul>
      </div>
