@{
    ViewData["Title"] = "Recipes";
    Layout = "_LayoutEs";
}
<!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/theme.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/lib/bootstrap/dist/css/jumbotron-narrow.css" rel="stylesheet">

<div class="jumbotron">
        <h1>@ViewData["Title"]</h1>
        <p class="lead">@ViewData["Message"]</p>
       </div>
       <style>
       h4 {
            text-shadow: 1px 1px 2px #000
        }
        </style>
      <div class="row marketing" style="background-color: rgba(30, 130, 76, 0.8); border-radius:10px;">
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>
