@{
    ViewData["Title"] = "About";
    Layout = "_LayoutEs";
}
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/theme.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/lib/bootstrap/dist/css/jumbotron-narrow.css" rel="stylesheet">

<div class="jumbotron">
        <h1>@ViewData["Message"]</h1>
        <p class="lead">Esto es lo que consideramos la ONG como</p>
       </div>
       <style>
       h4 {
            text-shadow: 1px 1px 2px #000
        }
        </style>
      <div class="row marketing" style="background-color: rgba(30, 130, 76, 0.8); border-radius:10px; padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px;">
      <h4>Lo que vemos</h4>
	Queremos crear un mundo más saludable, en el que las personas comprendan cómo preocuparse por nuestro mundo (entorno, personas necesitadas y animales) y cuiden sus cuerpos. 

      </div>
