@{
    ViewData["Title"] = "About";
}
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/theme.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/lib/bootstrap/dist/css/jumbotron-narrow.css" rel="stylesheet">

<div class="jumbotron">
        <h1>@ViewData["Message"]</h1>
        <p class="lead">This is what we view the NGO as</p>
       </div>
       <style>
       h4 {
            text-shadow: 1px 1px 2px #000
        }
        </style>
      <div class="row marketing" style="background-color: rgba(30, 130, 76, 0.8); border-radius:10px; padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px;">
      <h4>What we See</h4>
	We want to create a healthier world, in which people understand how to care about our world (environment, people in need and animals) and take care of their bodies. 

      </div>
